{{#each albums as |album|}}

  <div class="card">
    <button class="card-header btn" type="button" data-toggle="collapse" data-target="#collapse-buttons-{{album.id}}">
      <b><i>{{album.title}}</i></b> by {{album.artist}}
    </button>

    <div class="collapse sub-card" id="collapse-buttons-{{album.id}}">
      <div class="container">

        <!-- UPDATE BUTTON -->
        <div >
          <button type="button" class="card-body btn btn-warning update py-1" data-toggle="modal" data-target=".modal[data-id='{{album.id}}']" data-id="{{album.id}}">Update</button>
        </div>

        <!-- DELETE BUTTON -->
        <div >
          <button type="button" name="button" class="card-body btn btn-danger delete py-1" data-id="{{album.id}}">Remove</button>
        </div>
      </div>
    </div>

    <div>
      <!--MODAL FOR UPDATE-->
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-id="{{album.id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title">Update</h4>
              <!--this puts the "x" in the corner-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form class="update-item" data-id="{{album.id}}">
              <input type="text" class="form-control validate album-update" name="album[title]" placeholder="{{album.title}}" required>
              <input type="text" class="form-control validate album-update" name="album[artist]" placeholder="{{album.artist}}" required>
              <button class="modal-footer btn btn-warning update" type="submit">Confirm</button>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>

{{/each}}
